<?xml version="1.0" encoding="UTF~8"?>
<!DOCTYPE plist PUBLIC "~//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList~1.0.dtd">
<plist version="1.0">
	<array>
		<dict>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>24hr</string>
			<key>name</key>
			<string>twentyfourhour</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Weather</string>
			<key>name</key>
			<string>weatherEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Agenda</string>
			<key>name</key>
			<string>agendaEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Notifications</string>
			<key>name</key>
			<string>notificationsEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<true/>
			<key>label</key>
			<string>Battery</string>
			<key>name</key>
			<string>batteryEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Pedometer</string>
			<key>name</key>
			<string>pedometerEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Network</string>
			<key>name</key>
			<string>networkEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Disk Space</string>
			<key>name</key>
			<string>diskEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
		<dict>
			<key>default</key>
			<false/>
			<key>label</key>
			<string>Memory Usage</string>
			<key>name</key>
			<string>memoryEnabled</string>
			<key>type</key>
			<string>switch</string>
		</dict>
	</array>
</plist>
